.article-user-orders{
  .order-tabs{
    margin-bottom: 4vh;
    display: flex;
    gap: 1vw;

    button{
      background-color: var(--background);
      filter: brightness(0.9);
      border: none;
      color: var(--font-color-white);
      font-size: 0.9rem;
      padding: 0.6vh 2vw;
      border-radius: 4px;
      transition: 0.2s ease-in-out;
      outline: none;
    }

    .active{
      background-color: var(--background);
      filter: brightness(1.2);
      transform: scale(1.1);
    }
  }

  ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    height: 60vh;
    overflow-y: scroll;

    li{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 3vh 2vw;
      border: 1px solid var(--border);
      box-shadow: 1px 1px 8px var(--shadow);

      .order-item{
        display: flex;
        align-items: center;
        gap: 2vw;

        img{
          width: 100px;
          height: 110px;
          object-fit: cover;
          border-radius: 6px;
          background-color: #b5b5b5b0;
        }

        div{
          display: flex;
          flex-direction: column;
          gap: 0.5vh;
          font-size: 1.1rem;
          font-weight: 600;

          p:nth-child(2){
            font-size: 0.8rem;
            font-weight: 400;
            opacity: 0.8;
          }
        }
      }

      button{
        background-color: var(--foreground);
        color: var(--font-color);
        border: none;
        padding: 0.6vh 1.5vw;
        border-radius: 4px;
        font-weight: 600;
        box-shadow: 1px 1px 8px var(--shadow);
        outline: none;
        opacity: 0.9;
        transition: 0.3s ease-in-out;

        &:hover{
          opacity: 1;
        }
      }
    }
  }

  .order-details{
    h3{
      font-size: 1.1rem;
      margin-bottom: 2vh;
    }

    h3:nth-child(5){
      border-top: 1px solid var(--border);
      padding-top: 3vh;
      margin-top: 5vh;
    }

    .order-details-section{
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 1vw;
      margin-bottom: 5vh;

      p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.9rem;
        padding: 1.5vh 2vw;
        border: 1px solid var(--border);
        box-shadow: 1px 1px 8px var(--shadow);
        font-weight: 600;

        span{
          margin: 0;
          font-weight: 400;
          opacity: 0.8;

          svg{
            cursor: pointer;
            margin-left: -0.5vw;
            font-size: 16px;
          }
        }
      }
    }

    .stepper{
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 6vh;
      width: 100%;
    
      .step{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    
        .step-icon{
          width: 3vw;
          height: 6vh;
          border-radius: 50%;
          background-color: #ccc;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 2;
    
          svg{
            width: 1.5vw;
            height: auto;
          }
        }
    
        .step-name{
          font-size: 0.9rem;
          font-weight: 600;
          text-align: center;
          width: 90%;
        }
    
        .step-date{
          opacity: 0.6;
          font-size: 0.8rem;
        }
      }
    
      .active{
        .step-icon{
          background-color: #007bff;
        }
      }
    
      .complete{
        .step-icon{
          background-color: #28a745;
        }
      }
    
      .progress-bar{
        position: absolute;
        top: 25%;
        left: 0;
        height: 4px;
        background-color: #ccc;
    
        .progress{
          height: 100%;
          background-color: #28a745;
          transition: 0.4s ease-in-out;
        }
      }
    }

    .customer-support{
      p{
        display: flex;
        font-weight: 600;
        gap: 0.5vw;
        font-size: 0.95rem;
        
        span{
          font-weight: 400;
          margin: 0;
          opacity: 0.8;
        }
      }

      p:first-child{
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 1vh;
      }
    }

    button{
      width: max-content;
      background-color: var(--foreground);
      color: var(--font-color);
      margin-top: 2vh;
      border: none;
      padding: 0.6vh 2vw;
      border-radius: 4px;
      font-weight: 600;
      box-shadow: 1px 1px 8px var(--shadow);
      outline: none;
      opacity: 0.9;
      transition: 0.3s ease-in-out;

      &:hover{
        opacity: 1;
      }
    }
  }

  .comment-form{
    display: flex;
    flex-direction: column;

    form{
      display: flex;
      flex-direction: column;

      p{
        margin-top: 2vh;
      }

      .rating{
        display: flex;
        flex-direction: row;
        gap: 0.5vw;

        span{
          margin: 0;

          svg{
            font-size: 36px;
            cursor: pointer;
          }
        }
        
      }

      textarea{
        width: 70%;
        height: 16vh;
        color: var(--font-color-white);
        font-size: 1rem;
        background-color: transparent;
        border: 1px solid var(--border);
        border-radius: 6px;
        padding: 1vh 1vw;

        &::placeholder{
          font-size: 0.9rem;
        }
      }

      .error-message{
        color: var(--font-color-white);
        font-size: 0.8rem;
        margin: 0;
        text-decoration: underline;
      }

      .photo-upload{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vw;
        width: 100%;

        input{
          display: none;
        }

        p{
          display: flex;
          align-items: center;
          gap: 0.3vw;
          font-size: 0.9rem;
          margin-top: 0;
          cursor: pointer;

          svg{
            font-size: 20px;
          }
        }

        span{
          margin: 0;
          font-size: 0.8rem;
          text-decoration: underline;
        }
      }

      .buttons{
        display: flex;
        flex-direction: row;
        gap: 1vw;

        button{
          width: max-content;
          background-color: var(--foreground);
          color: var(--font-color);
          margin-top: 2vh;
          border: none;
          padding: 0.6vh 2vw;
          border-radius: 4px;
          font-weight: 600;
          box-shadow: 1px 1px 8px var(--shadow);
          outline: none;
          opacity: 0.9;
          transition: 0.3s ease-in-out;
  
          &:hover{
            opacity: 1;
          }
        }
      }
    }
  }
}

/* for mobile devices */
@media only screen and (max-width: 480px){
  .article-user-orders{
    .order-tabs{
      margin-bottom: 3vh;
      gap: 4vw;

      button{
        padding: 0.6vh 4.5vw;
      }

      .active{
        transform: scale(1.15);
      }
    }

    ul{
      gap: 2.5vh;
      height: 100%;
      overflow-y: hidden;

      li{
        align-items: flex-end;
        flex-direction: column;
        padding: 2vh 3vw;

        .order-item{
          align-items: flex-start;
          gap: 3vw;
          width: 100%;

          img{
            width: 100px;
            border-radius: 6px;
          }

          div{
            font-size: 1.1rem;
          }
        }

        button{
          padding: 0.6vh 4vw;
          border-radius: 6px;
        }
      }
    }

    .order-details{
      .order-details-section{
        flex-direction: column;
        gap: 1vh;
        margin-bottom: 3vh;
  
        p{
          align-items: start;
          text-align: start;
          font-size: 1rem;
          padding: 0;
          border: none;
          box-shadow: none;
  
          span{
            svg{
              font-size: 20px;
            }
          }
        }
      }
  
      .stepper{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 4vh;
        margin-bottom: 4vh;
        gap: 2vh;
      
        .step{
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 3vw;
      
          .step-icon{
            width: 3rem;
            height: 3rem;
      
            svg{
              width: 1.5rem;
            }
          }
      
          .step-name{
            width: max-content;
          }
        }
      
        .progress-bar{
          transform: rotate(90deg);
          top: 50%;
          left: -36vw;
          width: 92% !important;
        }
      }
  
      .customer-support{
        p{
          gap: 1vw;
          font-size: 1rem;
        }
      }
    }

    .comment-form{
      form{
        .rating{
          gap: 1vw;

          span{
            svg{
              font-size: 44px;
            }
          }
          
        }

        textarea{
          width: 100%;
          height: 20vh;
          font-size: 1rem;
          padding: 1vh 2vw;

          &::placeholder{
            font-size: 0.9rem;
          }
        }

        .photo-upload{
          flex-wrap: wrap;
          gap: 2vw;
          width: 100%;
          margin-top: 1vh;

          p{
            gap: 1vw;
            font-size: 1rem;

            svg{
              font-size: 26px;
            }
          }
        }

        .buttons{
          gap: 2vw;

          button{
            padding: 0.6vh 4vw;
          }
        }
      }
    }
  }
}

/* for ultra large devices */
@media only screen and (min-width: 1920px){
  .article-user-orders{
    .order-tabs{
      button{
        font-size: 1.3rem;
      }
    }

    ul{
      li{
        .order-item{
          img{
            width: 160px;
            height: 170px;
            border-radius: 12px;
          }

          div{
            font-size: 1.6rem;

            p:nth-child(2){
              font-size: 1.2rem;
            }
          }
        }

        .p-revision{
          font-size: 1.5rem;
        }

        button{
          font-size: 1.2rem;
          font-weight: 700;
          border-radius: 6px;
        }
      }
    }

    .order-details{
      h3{
        font-size: 1.7rem;
      }
  
      .order-details-section{
        p{
          font-size: 1.3rem;
  
          span{
            svg{
              font-size: 24px;
            }
          }
        }
      }
  
      .stepper{
        .step{
          .step-name{
            p{
              font-size: 1.35rem;
            }
          }
      
          .step-date{
            p{
              font-size: 1.3rem;
            }
          }
        }
      }
  
      .customer-support{
        p{
          font-size: 1.4rem;
        }
  
        p:first-child{
          font-size: 1.5rem;
        }
      }
    }

    .comment-form{
      h3{
        font-size: 1.8rem;
      }

      form{
        p{
          font-size: 1.5rem;
        }

        .rating{
          span{
            svg{
              font-size: 54px;
            }
          }
          
        }

        textarea{
          font-size: 1.5rem;
          border-radius: 6px;

          &::placeholder{
            font-size: 1.4rem;
          }
        }

        .error-message{
          font-size: 1.2rem;
        }

        .photo-upload{
          p{
            font-size: 1.4rem;

            svg{
              font-size: 30px;
            }
          }

          span{
            font-size: 1.2rem;
          }
        }

        .buttons{
          button{
            font-size: 1.2rem;
            font-weight: 700;
            border-radius: 6px;
          }
        }
      }
    }
  }
}