.btn-cart{
  background-color: transparent;
  border: none;
  color: var(--font-color-white);
  display: flex;
  align-items: center;
  gap: 0.3vw;
  opacity: 0.8;
  transition: 0.3s ease-in-out;

  svg{
    font-size: 26px;
  }

  &:hover{
    opacity: 1;
  }

  .cart-quantity {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #eb0606;
    color: var(--font-color-white);
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }  
}

.cart-content{
  background-color: var(--black) !important;
  max-width: 35vw;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .cart-btn-close{
    height: 6vh;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    padding: 0 2vw;
    background-color: transparent;
    border: none;
    color: var(--font-color-white);
    border-top: 1px solid var(--background);
    opacity: 0.6;
  }

  .empty-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--font-color-white);
    gap: 2vh;
    height: 100%;

    svg{
      font-size: 70px;
    }

    p{
      font-weight: 300;
    }
  }

  .cart-header{
    padding: 0 2vw 2vh 2vw;
    color: var(--font-color-white);
    display: flex;
    align-items: last baseline;
    gap: 0.6vw;

    h1{
      font-size: 1.5rem;
    }

    span{
      font-size: 0.8rem;
      opacity: 0.6;
      font-weight: 300;
    }
  }

  .cart-body{
    color: var(--font-color-white);
    height: 100%;
    padding: 0 2vw;

    ul::-webkit-scrollbar {
      display: none;
    }

    ul {
      list-style-type: none;
      overflow-y: auto;
      height: 65vh;

      li{
        display: flex;
        border-bottom: 1px solid var(--background);
        padding: 3vh 0;
        gap: 1vw;

        img{
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 4px;
        }

        .cart-details{
          display: flex;
          align-items: start;
          justify-content: space-between;
          width: 100%;

          div:last-child{
            align-items: flex-end;
          }

          div{
            display: flex;
            flex-direction: column;
            gap: 2vh;

            p{
              text-decoration: underline;
            }

            span{
              font-weight: 600;
            }

            svg{
              font-size: 24px;
              cursor: pointer;
              opacity: 0.7;
              transition: 0.3s ease-in-out;
  
              &:hover{
                opacity: 1;
              }
            }

            .qtd{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              border: 1px solid var(--foreground);
              gap: 0.7vw;
              padding: 0 1vw;
              border-radius: 4px;
  
              button{
                background-color: transparent;
                border: none;
                color: var(--font-color-white);
                font-size: 20px;
                height: auto;
              }
  
              p{
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  .cart-footer{
    height: 15vh;
    padding: 0 2vw;
    border-top: 1px solid var(--background);
    border-bottom: 1px solid var(--background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--font-color-white);

    p{
      display: flex;
      flex-direction: column;
      font-size: 0.7rem;

      span{
        font-size: 1.1rem;
        font-weight: 500;
      }
    }

    button{
      background-color: var(--foreground);
      border: none;
      opacity: 0.9;
      border-radius: 4px;
      padding: 0.8vh 1.5vw;
      font-weight: 600;
      transition: 0.3s ease-in-out;
      text-wrap: nowrap;

      &:hover{
        opacity: 1;
      }
    }
  }
}