.banner-all-products {
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/banners/banner10.png');
  background-size: cover;
  background-position: center;
  margin-top: 10vh;
}

.all-products{
  display: flex;
  background-color: var(--background);
  color: var(--font-color-white);
  height: 100%;
  padding: 8vh 5vw 15vh 5vw;

  aside{
    width: 20vw;

    h1{
      color: var(--accent-1);
      text-shadow: 1px 1px 8px var(--shadow);
    }

    .filters{
      display: flex;
      justify-content: space-between;
      align-items: self-end;
      margin: 2vh 0 3vh 0;
      border-bottom: 1px solid var(--foreground);
      padding-bottom: 1.5vh;

      p{
        display: flex;
        align-items: center;

        svg{
          margin-right: 0.5vw;
        }

        span{
          font-size: 0.8rem;
          margin-bottom: -0.2vh;
          opacity: 0.8;
          margin-left: 0.2vw;
        }
      }

      span{
        font-size: 0.8rem;
        opacity: 0.7;
        cursor: pointer;
      }
    }

    .category{
      h2{
        font-size: 1rem;
        margin-bottom: 1vh;
        color: var(--accent-3);
        text-shadow: 1px 1px 8px var(--shadow);
      }
      
      p{
        display: flex;
        align-items: center;
        gap: 0.3vw;

        svg{
          font-size: 24px;
          opacity: 0.9;
          cursor: pointer;
        }

        span{
          font-size: 0.8rem;
          opacity: 0.8;
        }
      }
    }

    .container-size{
      border-top: 1px solid var(--foreground);
      margin-top: 2vh;
      padding: 2vh 0;

      h2{
        font-size: 1rem;
        color: var(--accent-3);
        text-shadow: 1px 1px 8px var(--shadow);
      }

      div{
        display: flex;
        gap: 0.5vw;
        margin-top: 1vh;
      }

      .size{
        border: 1px solid var(--foreground);
        border-radius: 50%;
        font-size: 0.9rem;
        width: 2.2vw;
        height: 2.2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      
      .size.selected {
        background-color: var(--foreground);
        color: var(--font-color);
      }
    }
  }

  section{
    padding-left: 2vw;
    width: 100%;

    .sort-container{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5vw;

      p{
        opacity: 0.8;
        font-size: 0.9rem;
      }

      select{
        background-color: transparent;
        border: none;
        color: var(--font-color-white);

        option{
          background-color: var(--black);
        }
      }
    }

    .items-container{
      display: flex;
      flex-wrap: wrap;

      .item{
        width: 26%;
        margin: 1.5vw;
        position: relative;

        img{
          max-width: 100%;
          width: 290px;
          height: 40vh;
          object-fit: cover;
          border-radius: 14px;
          background-color: #b5b5b5b0;
          box-shadow: 1px 1px 8px var(--shadow);
          cursor: pointer;
        }

        .discount-percentage {
          position: absolute;
          top: 0;
          left: 0;
          background-color: #ff5733;
          color: var(--font-color-white);
          padding: 4px;
          font-size: 14px;
          font-weight: bold;
          border-radius: 0 8px 0 8px;
        }        

        h6{
          font-size: 1.1rem;
        }

        p{
          font-size: 0.8rem;
          opacity: 0.7;
          margin: 1vh 0 0 0;
          height: 7vh;
        }

        span{
          font-size: 1.3rem;
          font-weight: 700;
        }

        .discountPrice{
          text-decoration: line-through;
          font-size: 0.9rem;
          font-weight: 400;
        }
        
        div{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 1.5vh;
          height: 5.4vh;

          button{
            width: 80%;
            background-color: transparent;
            border: 1px solid var(--foreground);
            color: var(--font-color-white);
            height: 100%;
            border-radius: 20px;
            font-size: 1rem;
            text-transform: uppercase;
            transition: 0.3s ease-in-out;
            box-shadow: 1px 1px 6px var(--shadow);

            &:hover{
              background-color: var(--background);
              filter: brightness(0.9);
            }
          }

          svg{
            border: 1px solid var(--accent-1);
            color: var(--accent-1);
            height: 100%;
            width: auto;
            padding: 6px;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 1px 1px 6px var(--shadow);
          }
        }
      }

      .no-results-message{
        width: 100%;
        text-align: center;
        padding-top: 15%;
      }
    }
  }
}

/* for mobile devices */
@media only screen and (max-width: 480px){
  .banner-all-products {
    height: 14vh;
  }

  .all-products{
    padding: 2vh 5vw 3vh 5vw;
    flex-direction: column;
  
    aside{
      width: 100%;

      h1{
        display: none;
      }
  
      .filters{
        margin: 2vh 0 2vh 0;

        p{
          svg{
            margin-right: 2vw;
          }
  
          span{
            margin-left: 1vw;
          }
        }
      }
  
      .category{
        display: flex;
        flex-direction: column;
        gap: 0.8vh;

        h2{
          font-size: 1.1rem;
          margin-bottom: 0.4vh;
        }

        p{
          gap: 1.5vw;
  
          svg{
            font-size: 28px;
          }
  
          span{
            margin-bottom: -0.3vh;
          }
        }
      }
  
      .container-size{
        padding: 2vh 0;
        margin-top: 2vh;
        border-bottom: 1px solid var(--foreground);
  
        h2{
          font-size: 1.1rem;
        }
  
        div{
          gap: 2vw;
        }
  
        .size{
          width: 8vw;
          height: 8vw;
        }
      }
    }
  
    section{
      padding-left: 0vw;
      margin-top: 2vh;
  
      .sort-container{
        gap: 0.8vw;
        margin-bottom: 4vh;
        flex-direction: column;
        align-items: flex-start;
  
        p{
          opacity: 1;
          font-size: 1.1rem;
          font-weight: 600;
          margin-bottom: 0.5vh;
        }
  
        select{
          margin-left: -0.8vw;
        }
      }
  
      .items-container{
        .item{
          width: 100%;
          margin: 0vw;
  
          img{
            width: 100%;
            height: auto;
            border-radius: 10px;
          }
  
          h6{
            font-size: 1.5rem;
            margin-top: 0.5vh;
          }
  
          p{
            font-size: 1rem;
            margin: 0.8vh 0;
            height: auto;
          }
  
          span{
            font-size: 1.2rem;
            font-weight: 600;
          }
          
          div{
            height: 5vh;
            margin-top: 2vh;
            margin-bottom: 5vh;
  
            button{
              width: 84%;
              border-radius: 30px;
              font-size: 1rem;
            }
  
            svg{
              width: auto;
              padding: 7px;
            }
          }
        }
      }
    }
  }
}

/* for ultra large devices */
@media only screen and (min-width: 1920px){
  .all-products{
    aside{
      h1{
        font-size: 2.2rem;
      }

      .filters{
        p{
          font-size: 1.5rem;
  
          span{
            font-size: 1.2rem;
          }
        }
  
        span{
          font-size: 1.2rem;
        }
      }
  
      .category{
        h2{
          font-size: 1.5rem;
        }

        p{
          font-size: 1.5rem;
  
          svg{
            font-size: 32px;
          }
  
          span{
            font-size: 1.2rem;
          }
        }
      }
  
      .container-size{
        h2{
          font-size: 1.5rem;
        }
  
        .size{
          font-size: 1.4rem;
        }
      }
    }
  
    section{
      .sort-container{
        p{
          font-size: 1.4rem;
        }
  
        select{
          font-size: 1.2rem;
        }
      }
  
      .items-container{
        .item{
          img{
            width: 370px;
            border-radius: 18px;
          }
  
          h6{
            font-size: 1.8rem;
          }
  
          p{
            font-size: 1.2rem;
          }
  
          span{
            font-size: 1.6rem;
          }
          
          div{
            button{
              font-size: 1.4rem;
              border-radius: 30px;
            }
  
            svg{
              padding: 12px;
            }
          }
        }
      }
    }
  }
}