.ReactModal__Content{
  border: none !important;
}

.login, .register{
  color: var(--font-color-white);
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10%;
  height: 100%;
  width: 28vw;
  gap: 6%;
  overflow-y: hidden;
  z-index: 9 !important;

  div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3vh;

    p{
      font-size: 1.3rem;
      font-weight: 600;
    }

    svg{
      font-size: 25px;
      cursor: pointer;
    }
  }

  p:nth-child(2){
    margin-bottom: 1.5vh;
  }

  form{
    display: flex;
    flex-direction: column;

    label{
      font-size: 0.9rem;
      margin-bottom: 1%;
    }

    input{
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.196);
      padding: 1% 0%;
      margin-bottom: 5%;
      height: 5.4vh;
      color: var(--font-color-white);
      font-size: 1rem;

      &::placeholder{
        color: var(--font-color-white);
        opacity: 0.5;
        font-weight: 300;
      }
    }

    a{
      font-size: 0.7rem;
      color: var(--accent-1);
      text-decoration: underline;
    }

    button{
      margin: 6% 0;
      background-color: var(--accent-1);
      border: none;
      color: var(--font-color-white);
      height: 5vh;
      border-radius: 15px;
      opacity: 0.9;
      transition: 0.3s ease-in-out;

      &:hover{
        opacity: 1;
      }
    }

    .link{
      text-decoration: none;

      span{
        text-decoration: underline;
      }
    }
  }
}

.login{
  padding-bottom: 15vh;
}

.forgot-password{
  a{
    text-decoration: underline !important;
  }
}

/* for mobile devices */
@media only screen and (max-width: 480px){
  .login, .register{
    padding: 15% 10%;
    width: 85vw;
  
    div{
      margin-top: -6%;
  
      p{
        font-size: 1.4rem;
      }
  
      svg{
        font-size: 30px;
      }
    }
  
    form{
      input{
        padding: 0.8% 0%;
      }
  
      button{
        margin: 8% 0;
        border-radius: 20px;
        font-size: 1rem;
      }
    }
  }

  .register{
    form{
      input[type="date"]{
        width: 100%;
      }
    }
  }
}

/* for ultra large devices */
@media only screen and (min-width: 1920px){
  .login, .register{
    border-radius: 10px;
  
    div{
      p{
        font-size: 2rem;
      }
  
      svg{
        font-size: 40px;
      }
    }

    p:nth-child(2){
      font-size: 1.5rem;
    }
  
    form{
      label{
        font-size: 1.3rem;
      }
  
      input{
        font-size: 1.5rem;
      }
  
      a{
        font-size: 1rem;
      }
  
      button{
        border-radius: 26px;
        font-size: 1.2rem;
      }
    }
  }
}