.swiper-container {
  width: 100%;
  height: auto;
  padding-left: 35vw !important;
  cursor: grab;

  .slide {
    display: flex;
    background-color: var(--foreground);
    color: var(--font-color);
    height: 38vh;
    width: 60vw !important;
    border-radius: 6px;
    opacity: 0.5;
    margin-bottom: 8vh;
    margin-top: 8vh;

    img {
      object-fit: cover;
      width: 40%;
      height: auto;
      border-radius: 6px;
    }

    .content{
      padding: 3%;

      .tags {
        margin: 1vh 0;
    
        span {
          margin-right: 1vw;
          opacity: 0.7;
          border-radius: 4px;
          font-size: 12px;
          text-transform: uppercase;
        }
      }

      a{
        display: flex;
        align-items: center;
        gap: 0.4vw;
        margin-top: 1vh;
        color: var(--accent-1);
        font-weight: 600;
        transition: 0.3s ease-in-out;

        &:hover{
          color: darken($color: #33b9c7, $amount: 10%);
        }
      }
    }

    &.swiper-slide-active {
      opacity: 1;
    }
  }
}
