.home{
  background-color: var(--background);
  color: var(--font-color-white);

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 9;

    &.blurred{
      backdrop-filter: blur(6px);
      background-color: transparent;
    }

    img{
      width: auto;
      height: 80%;
      cursor: pointer;
    }

    nav{
      display: flex;
      align-items: center;
      gap: 2vw;

      a{
        transition: 0.3s ease-in-out;

        &:hover{
          color: var(--accent-1);
        }
      }

      button{
        background-color: var(--font-color-white);
        color: var(--font-color);
        border: none;
        font-weight: 500;
        font-size: 1rem;
        padding: 0.5% 2vw;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        gap: 0.6vw;
        border-radius: 16px;
        outline: none;
        opacity: 0.9;
        transition: 0.3s ease-in;
        box-shadow: 2px 2px 10px var(--shadow);

        svg{
          color: var(--font-color);
          font-size: 18px;
        }

        &:hover{
          opacity: 1;
        }
      }
    }
  }

  main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .purpose{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 5vw;

    img{
      width: 180px;
      height: auto;
      margin-bottom: 2%;
    }

    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1{
        margin-bottom: 2%;
        font-weight: 600;
        font-size: 1.6rem;
        text-transform: uppercase;
        color: var(--accent-1);
      }

      p{
        width: 90%;
        margin-bottom: 1.5%;
      }
    }
  }

  .actions{
    height: 70vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .container{
      background-color: var(--accent-1);
      width: 100%;
      height: 60vh;
      display: flex;
      align-items: center;
      z-index: 0;
    }
  }

  .store{
    height: 100vh;
    padding: 12vh 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

    article{
      display: flex;
      flex-direction: column;
    }

    .box1{
      gap: 6vh;

      .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        p{
          font-weight: 700;
        }

        span{
          font-size: 0.9rem;
          opacity: 0.8;
          white-space: 2rem;
        }

        button{
          background-color: var(--font-color-white);
          color: var(--font-color);
          border: none;
          outline: none;
          font-weight: 500;
          padding: 0.5vh 2.2vw;
          border-radius: 15px;
          margin-top: 1vh;
          opacity: 0.9;
          transition: 0.3s ease-in-out;

          &:hover{
            opacity: 1;
          }
        }
      }

      .image{
        position: relative;
        display: flex;
        justify-content: center;

        img{
          width: 320px;
          border-radius: 8px;
        }

        a{
          position: absolute;
          bottom: 8vh;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          text-wrap: nowrap;
          transition: 0.3s ease-in-out;
          cursor: pointer;

          svg{
            font-size: 20px;
            margin-left: 0.8vw;
          }

          &:hover{
            transform: scale(1.04);
          }
        }
      }
    }

    .box2{
      gap: 4vh;

      img{
        width: 280px;
        border-radius: 8px;
      }
    }

    .box3{
      gap: 4vh;

      p{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--background);
        filter: contrast(1.3);
        border-radius: 15px;
        font-size: 0.9rem;
        padding: 1% 0;

        svg{
          margin-left: 0.6vw;
        }
      }

      img{
        width: 310px;
        border-radius: 8px;
      }
    }
  }

  footer{
    background-color: var(--black);
    padding: 8vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .top{
      border-bottom: 2px solid rgb(255 255 255 / 20%);
      padding-bottom: 5vh;
      width: 60vw;
      display: flex;
      justify-content: space-between;

      img{
        width: auto;
        height: 90px;
        margin-bottom: 3vh;
      }

      .links-column{
        display: flex;
        flex-direction: column;

        h2{
          font-size: 1.1rem;
          margin-bottom: 1vh;
        }

        a{
          opacity: 0.8;
          transition: 0.3s ease-in-out;

          &:hover{
            text-decoration: underline;
          }
        }
      }

      .socials-column{
        width: 40%;

        p{
          opacity: 0.8;
        }

        .socials{
          display: flex;
          gap: 1vw;
          margin-top: 2vh;

          a{
            width: 36px;
            height: 36px;
            background-color: var(--background);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s ease-in;

            svg{
              font-size: 20px;
            }

            &:hover{
              transform: translateY(-4px);
            }
          }
        }
      }
    }

    .bottom{
      width: 60vw;
      padding-top: 3vh;
      display: flex;
      gap: 2vw;
      font-size: 0.8rem;

      .legal{
        display: flex;
        gap: 1vw;
      }
    }
  }
}