.payment{
  background-color: var(--background);
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 7% 7% 4% 7%;

  .payment-container{
    display: flex;

    .checkout-section{
      width: 55%;
      margin: 0% 0 3% 0;
      border-bottom: 1px solid;
      border-color: #ffffff1a;

      h1{
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 3%;
      }
    }

    .payment-form{
      margin: 0 0 0 0;
      background-color: #393a41;
      border: 1px solid;
      border-color: #ffffff1a;
      padding: 0 2% 2% 3.5%;
      border-radius: 3px;

      section{
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.5% 2% 2% 0;

        &.additional-details{
          h5 {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            white-space: nowrap;
            border-bottom: 1px solid;
            border-color: #ffffff1a;
            width: 100%;
            padding-bottom: 2%;
          }
        }

        h5 {
          margin-bottom: 0;
          display: flex;
          align-items: center;
          white-space: nowrap;

          svg {
            margin-right: 0.5vw;
            font-size: 25px;
          }
        }

        span {
          font-size: 11px;
        }
      }

      div {
        display: flex;
        flex-direction: column;

        input,
        select {
          margin-bottom: 1.7vh;
          background-color: transparent;
          border: 1px solid #fff;
          color: #fff;
          outline: none;
          padding: 1.5vh 1vw;
          border-radius: 5px;

          &.additional-details{
            padding: 2.5% 2% 2% 0;

            option {
              color: #000000f7;

              &:hover {
                color: #000000f7;
              }
            }
          }
        }
      }
    }

    .purchase-details{
      width: 45%;
      margin: 0;
      padding-left: 14%;
      padding-right: 5%;

      h5 {
        font-size: 26px;
        font-weight: 700;
      }

      p {
        font-weight: 700;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        select {
          padding: 0 6px 0 0;
          margin-top: 12px;
        }
      }

      span {
        font-weight: 400;
      }

      .total-diviser {
        width: 100% !important;
        margin-top: 1vh;
        border-bottom: 1px solid gray;
      }

      div {
        display: flex;

        label {
          font-size: 12px;
          margin: 5% 0 2% 0;
          color: var(--1-gray-color);

          input {
            margin-right: 1%;
          }

          a {
            color: #05d9cf;
            text-decoration: underline;
          }
        }
      }

      .total {
        span span {
          margin-right: 0.4vw;
        }

        button {
          margin-bottom: 0px;
          padding: 2.5% 4%;
          width: 100%;
          margin-right: 0%;
          height: auto;
          border-radius: 5px;
          font-size: 13px;
          text-align: center;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
