.payment{
  background-color: var(--background);
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 7%;

  .css-syhbcg {
    display: flex;
  }

  .breadcrumb{
    display: flex;
    margin-bottom: 5vh;

    .breadcrumb-item{
      a{
        text-wrap: nowrap;
      }

      .active{
        color: var(--accent-1);
        font-weight: 500;
      }
    }
  }

  .payment-container{
    display: flex;

    .checkout-section{
      width: 55%;
      margin: 0% 0 3% 0;

      h1{
        font-size: 1.8rem;
        margin-bottom: 3vh;
        color: var(--accent-1);
        text-shadow: 1px 1px 8px var(--shadow);
      }
    }

    .payment-form{
      background-color: var(--background);
      filter: brightness(1.2);
      border: 1px solid var(--shadow);
      padding: 1vh 2vw 5vh 2vw;
      border-radius: 4px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      section{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3vh 1vw 2vh 0;
        border-bottom: 1px solid var(--border);
        margin-bottom: 2vh;

        h5{
          display: flex;
          align-items: center;
          white-space: nowrap;
          width: 100%;
          gap: 0.8vw;
          font-size: 1.2rem;
          font-weight: 400;

          svg {
            font-size: 26px;
          }
        }

        span {
          font-size: 11px;
          text-wrap: nowrap;
        }
      }

      div {
        display: flex;
        flex-direction: column;

        label{
          margin-bottom: 0.5vh;
          font-weight: 300;
        }

        input, select {
          margin-bottom: 2vh;
          background-color: transparent;
          border: 1px solid var( --foreground);
          color: var(--font-color-white);
          outline: none;
          padding: 1vh 1vw;
          border-radius: 3px;
          font-size: 1rem;

          &::placeholder{
            font-size: 0.9rem;
          }

          option{
            background-color: var(--background);
          }
        }
      }

      .additional-details{
        padding: 1vh 1vw 2vh 0;
      }
    }

    .purchase-details{
      width: 45%;
      margin: 0;
      padding-left: 14%;
      padding-right: 5%;

      h1{
        font-size: 1.7rem;
        margin-bottom: 3vh;
        text-wrap: nowrap;
        color: var(--accent-1);
        text-shadow: 1px 1px 8px var(--shadow);
      }

      p{
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 0.5vw;
        margin-bottom: 1vh;
        text-wrap: nowrap;
      }

      span {
        font-weight: 400;
      }

      img{
        width: 200px;
        height: auto;
        margin-top: 1vh;
      }

      .total-diviser {
        width: 100%;
        margin: 2vh 0;
        border-bottom: 1px solid var(--foreground);
      }

      .total{
        justify-content: space-between;
      }

      div {
        display: flex;

        label {
          font-size: 0.7rem;
          margin: 1vh 0 2vh 0;
          color: var(--font-color-white);

          input {
            margin-right: 0.5vw;
          }

          a{
            color: var(--accent-1);
            text-decoration: underline;
          }
        }
      }

      button{
        background-color: var(--accent-1);
        color: var(--font-color-white);
        border: none;
        box-shadow: 1px 1px 8px var(--shadow);
        width: 100%;
        padding: 0.8vh 0;
        border-radius: 4px;
        font-weight: 600;
        opacity: 0.9;
        font-size: 0.9rem;
        transition: 0.3s ease-in-out;

        &:hover{
          opacity: 1;
        }
      }
    }
  }
}

/* for mobile devices */
@media only screen and (max-width: 480px){
  .payment{
    padding: 13vh 5vw 5vh 5vw;
  
    .breadcrumb{
      margin-bottom: 7vh;
  
      .breadcrumb-item{
        .active{
          position: absolute;
          left: 5vw;
          margin-top: 6vh;
        }
      }
    }
  
    .payment-container{
      flex-direction: column;
  
      .checkout-section{
        width: 100%;
        margin: 0;
        margin-bottom: 5vh;
  
        h1{
          font-size: 1.6rem;
          margin-bottom: 1vh;
        }
      }
  
      .payment-form{
        padding: 0 4vw 1vh 4vw;
  
        section{
          padding: 2vh 0;
          margin-bottom: 2vh;
  
          h5{
            gap: 3vw;
          }
  
          span{
            text-wrap: wrap;
            text-align: end;
          }
        }
  
        div{
          input, select {
            padding: 1vh 3vw;
          }
        }
      }
  
      .purchase-details{
        width: 100%;
        padding: 0 2vw;
  
        h1{
          font-size: 1.6rem;
          margin-bottom: 1vh;
        }
  
        p{
          gap: 1.5vw;
        }
      }
    }
  }
}

/* for ultra large devices */
@media only screen and (min-width: 1920px){
  .payment{
    .css-syhbcg{
      font-size: 1.5rem;
    }

    .breadcrumb{
      .breadcrumb-item{
        a{
         font-size: 1.5rem; 
        }
      }
    }
  
    .payment-container{
      .checkout-section{
        h1{
          font-size: 2.65rem;
        }
      }
  
      .payment-form{
        border-radius: 6px;
  
        section{
          h5{
            font-size: 1.85rem;
  
            svg{
              font-size: 40px;
            }
          }
  
          span{
            font-size: 17px;
          }
        }
  
        div{
          label{
            font-size: 1.5rem;
          }
  
          input, select{
            font-size: 1.5rem;
  
            &::placeholder{
              font-size: 1.4rem;
            }
          }
        }
      }
  
      .purchase-details{
        h1{
          font-size: 2.6rem;
        }
  
        p{
          font-size: 1.5rem;
        }
  
        img{
          width: 300px;
        }
  
        div{
          label{
            font-size: 1.05rem;
  
            input{
              width: 1.2rem;
              height: 1.2rem;
            }
          }
        }
  
        button{
          box-shadow: 2px 2px 10px var(--shadow);
          border-radius: 6px;
          font-size: 1.3rem;
        }
      }
    }
  }
}