.footer{
  background-color: var(--black);
  color: var(--font-color-white);
  padding: 8vh 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-content{
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
      width: auto;
      height: 90px;
      margin-bottom: 3vh;
    }

    p{
      font-size: 0.9rem;
    }

    .footer-links{
      margin-top: 1vh;
      display: flex;
      gap: 1.5vw;
      font-size: 0.9rem;

      a:hover{
        text-decoration: underline;
      }
    }

    .socials{
      display: flex;
      gap: 1vw;
      margin-top: 3vh;

      a{
        width: 36px;
        height: 36px;
        background-color: var(--background);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease-in;

        svg{
          font-size: 20px;
        }

        &:hover{
          transform: translateY(-4px);
        }
      }
    }
  }
}

/* for mobile devices */
@media only screen and (max-width: 480px){
  .footer{
    padding: 5vh 0;
  
    .footer-content{
      width: 90vw;
  
      img{
        height: 80px;
        margin-bottom: 2vh;
      }
  
      p{
        font-size: 0.8rem;
      }
  
      .footer-links{
        flex-direction: column;
        text-align: center;
        font-size: 0.8rem;
      }
  
      .socials{
        gap: 2.5vw;
        margin-top: 2vh;
  
        a{
          width: 40px;
          height: 40px;
  
          svg{
            font-size: 22px;
          }
        }
      }
    }
  }
}

/* for ultra large devices */
@media only screen and (min-width: 1920px){
  .footer{
    .footer-content{
      img{
        height: 130px;
      }
  
      p{
        font-size: 1.4rem;
      }
  
      .footer-links{
        font-size: 1.4rem;
      }
  
      .socials{
        a{
          width: 52px;
          height: 52px;
  
          svg{
            font-size: 30px;
          }
        }
      }
    }
  }
}