@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://use.typekit.net/fcv5cfo.css");

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: var(--subtitle-font);
}

:root{
  --black: #1a1a1a;
  --background: #4d4d4d;
  --background-2: #2f2f2f;
  --foreground: #ededed;
  --accent-1: #33b9c7;
  --accent-2: #71cad4;
  --accent-3: #afdce0;
  --shadow: rgba(0, 0, 0, 0.2);
  --border: #ffffff1a;
  --green: #4CAF50; 
  --red: #b11b2a;

  --title-font: 'cooper-black-std', serif;
  --subtitle-font: 'Poppins', EB Garamond;

  --font-color: #000000;
  --font-color-white: #ffffff;
}

h1{
  font-family: var(--title-font);
}

button{
  cursor: pointer;
}

a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.spinner-page{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);

  .spinner{
    color: var(--foreground);
    size: 60px;
    font-size: 60px;
    width: 40px;
    height: 40px;
  }
}

.spinner-button{
  color: var(--foreground);
  width: 20px;
  height: 20px;
  margin: 0.4vh 0 !important;
}

.mobile-only{
  display: none;
}

/* for mobile devices */
@media only screen and (max-width: 480px){
  .mobile-only{
    display: block;
  }
}

/* for ultra large devices */
@media only screen and (min-width: 1920px){
  .custom-toast-container{
    font-size: 1.5rem;
    width: 23vw;
    max-width: 23vw;
    margin-left: -9vw;

    .Toastify__toast-icon{
      width: 30px;
    }
  }
}

::-webkit-scrollbar{
  width: 7px;
  background-color: var(--background);
  border: none;
}
::-webkit-scrollbar-thumb{
  background-color: var(--foreground);
  border-radius: 50px;
  height: 10vh;
}